<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="OchnygoschOrg_Magento2ColumnActionTest::grid" title="Magento2ColumnActionTest"
             module="OchnygoschOrg_Magento2ColumnActionTest"
             resource="Magento_Backend::dashboard" sortOrder="100"
             action="ochnygoschorg_magento2columnactiontest/magento2columnactiontest/grid"
        />
    </menu>
</config>